<section class="pokemon-lists">
    <h1 class="title"><span class="badge-primary">Pokemon Lists</span></h1>
    <table class="table table-sm table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (pokemon_data | paginationPipe:page:itemsPerPage); let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name | titlecase}}</td>
            <td class="button" (click)="show_detail(item.url)" style="cursor: pointer;">Show Detail</td>
          </tr>
        </tbody>
      </table>
      <pagination [totalItems]="total" (pageChanged)="pageChanged($event)" [itemsPerPage] = "10"  [maxSize]="10">  </pagination>
</section>